* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 1fr 5fr / 1fr 5fr;
    grid-template-areas: 
    "dashboard header"
    "dashboard main";
}

/* Header */

#header {
    grid-area: header;
    background-color: #94a3b8;
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    box-shadow: 5px 5px 10px #cbd5e1;
}


form {

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

form input {
    width: 75%;
    border-radius: 15px;
    border: none;
    height: 50%;
}

form img {
    margin-left: 5%;
}

#notif {
    margin-top: 10px;
    display: inline-flex;
    align-items:center;
    justify-content: space-around;
}

.profile {
    font-size: 1.3rem;
    padding: 3%;
    border-radius: 50%;
    background-color: #e2e8f0;
}
/* sidebar */

#dash {
    grid-area: dashboard;
    background-color: #334155;
    color: #f8fafc;
    box-shadow: 5px 5px 10px #64748b
    ;
}

ul {
    list-style: none;
}
.container {
    display: grid;
}

.nav {
    font-size: 1.2rem;
    gap: 1.5rem;
    margin-top: 3rem;
    margin-left: 1.5rem;
    justify-content: flex-start;
}

li, h1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
}

h1 {
    padding: 10% 10% 0 10%;
    gap: 10px;
}

h1 img {
    height: 35px;
    filter: invert(100%) sepia(7%) saturate(1542%) hue-rotate(248deg) brightness(95%) contrast(107%);
}

li img {
    height: 100%;
    filter: invert(100%) sepia(7%) saturate(1542%) hue-rotate(248deg) brightness(95%) contrast(107%);
    margin-right: 10px;
}

li a {
    text-decoration: none;
    color: #f8fafc;
}

a:hover {
    font-size: 1.3rem;
}

#content {
    grid-area: main;
    background-color: #f8fafc;
}